.chat_content {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.chat_content * {
    pointer-events: auto;
}
.chat_container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    justify-content: center;
}
.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    /* background-color: blue; */
}

.activeUsers {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    background-color: var(--backgroundColor);
}
.chatBox {
    flex-direction: column;
    display: flex;
    flex: 3;
    border: 3px solid var(--borderColor);
    border-radius: 8px;
    background-color: var(--backgroundColor);
}
/* ACTIVE USERS */

.users_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
}
.users_list {
    display: flex;
    flex: 9;
    flex-direction: column;
    overflow-y: auto;
    padding: 5%;
}

/* CHAT */

.chat_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
}
.chat_messages {
    display: flex;
    flex: 8;
    flex-direction: column;
    overflow-y: auto;
    padding: 5%;
    gap: 1vw;
    color: var(--textColor);
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    max-height: 30vw;
}

.chat_messages::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.chat_input {
    display: flex;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
    padding: 5%;
}
.chat_input_obj {
    display: flex;
    flex-direction: row;
}
.chat_input input {
    width: 100%;
    height: 100%;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    padding: 1%;
}
.chat_input button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    padding: 1%;
}
.message_header {
    display: flex;
    gap: 1vw;
}
.message_body {
    display: flex;
    gap: 1vw;
}
.message {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: 0.1vw solid var(--borderColor);
    border-radius: 0.5vw;
    background-color: var(--backgroundColor);
}
.message_list {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.chat_image {
    /* border: 0.1vw solid var(--borderColor); */
    display: flex;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
    width: 10%;
    aspect-ratio: 1/1;
}