.chat_content {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.chat_container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    justify-content: end;
    pointer-events: none;
}

.chat_container * {
    pointer-events: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.active_list {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    gap: 1.2vw;
}
    

.activeUsers {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    background-color: var(--backgroundColor);
}
.chatBox {
    flex-direction: column;
    display: flex;
    flex: 3;
    overflow-y: auto;
    border: 3px solid var(--borderColor);
    border-radius: 8px;
    background-color: var(--backgroundColor);
}
/* ACTIVE USERS */

.chatButton {
    margin-left: 0.4vw;
    margin-bottom: 0.4vw;
    background: none;
    border: none;
    width: 1.5vw;
    height: 1.5vw;
    color: var(--textColor);
    font-size: 1vw;
    cursor: pointer;
}

.users_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
}
.users_list {
    display: flex;
    flex: 9;
    color: var(--textColor);
    font-family: var(--fontStyle);
    flex-direction: column;
    overflow-y: auto;
    padding: 5%;
}

/* CHAT */



.chat_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
}
.chat_messages {
    display: flex;
    flex: 8;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 5%;
    gap: 1vw;
    color: var(--textColor);
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    max-height: 30vw;
    scroll-behavior: smooth;
}

.chat_messages::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.chat_input {
    display: flex;
    flex: 1;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 1vw;
    padding: 5%;
}
.chat_input_obj {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    gap: 0.5vw;
}
.chat_input input {
    width: 100%;
    height: 100%;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 0.7vw;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    padding: 1%;
}
.chat_input button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: var(--fontStyle);
    font-weight: bold;
    border: 0.2vw solid var(--borderColor);
    border-radius: 0.5vw;
    padding: 1%;
}
.message_header {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
}
.message_header_left {
    display: flex;
    gap: 0.5vw;
    width: 50%;
}
.message_date {
    font-family: var(--fontStyle);
    font-size: 0.6vw;
}
.message_user {
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 0.8vw;
}
.message_body {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    font-family: var(--fontStyle);
    font-size: 0.8vw;
    gap: 1vw;
}
.message {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: 0.1vw solid var(--borderColor);
    border-radius: 0.5vw;
    background-color: var(--backgroundColor);
}
.message_list {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.chat_image {
    /* border: 0.1vw solid var(--borderColor); */
    display: flex;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
    width: 20%;
    aspect-ratio: 1/1;
}
.sendButton {
    transition: transform 0.2s ease;
    font-family: var(--fontStyle);
    font-size: 0.8vw;
}

.sendButton:active {
    transform: scale(0.9);
}
.listActive {
    display: flex;
    flex-direction: row;
    font-size: 0.8vw;
    gap: 0.5vw;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: rgba(0,0,0,0);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: green;
}