.points {
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.mode2_upperDiv {
    background-color: var(--backgroundColor);
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.mode2_centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1vh;
    width: 100%;
    flex: 5;
}
.pointsText {
    font-size: 2vh;
    color: var(--textColor);
    text-align: center;
    font-family: var(--fontStyle);
}

.mode2_lowerDiv {
    background-color: var(--backgroundColor);
    padding-top: 1em;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.mode2_lowerUpperDiv {
    display: flex;
    width: 67.5%;
    justify-content: space-between;
    align-items: right;
}
.mode2_lowerUppedLeftDiv {
    display: flex;
    margin-left: 1.5%;
    justify-content: center;
    align-items: top;
}
.mode2_lowerLowerDiv {
    display: flex;
    width: 67.5%;
    justify-content: center;
    align-items: center;
}

.Mode2_content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    z-index: 8;
}
.gameContainer{
    position: relative;
    display: flex;
    width: 65%;
    justify-content: center;
    aspect-ratio: 2/1;
    
}

.gameBorder {
    position: absolute;
    display: flex;
    align-items: end;
    justify-self: start;
    height: 100%;
    z-index: 20;
    border : 3px solid var(--borderColor);
    width: 100%;
    pointer-events: none;
}

.gamePage {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.gameEnded {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    align-content: center;
    background-color: var(--backgroundColor);
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.heart {
    height: 5vh;
    image-rendering: pixelated;
}

.endContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.endedUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 3;
}
.endedMiddle {
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 2vw;
    flex: 4;
}
.endedLower {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.overText {
    font-size: 5vw;
    font-weight: bold;
    color: var(--textColor);
    font-family: var(--fontStyle);
}
.stats {
    display: flex;
    gap: 0.5vw;
}